header {
    text-align: center;
    border-bottom: 3px double green;
    padding:20px 0;
}

h1 {
color:#0a80e1;
font-weight: bold;
font-size: 36px;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    color:brown;
    font-size: 20px;
}